<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:tizen="http://tizen.org/ns/widgets"
        id="hdb.hdbiptv.loader"
        version="1.0.0"
        viewmodes="maximized">

  <name>HDB Loader</name>
  <icon src="icon.png"/>
  <content src="loader.html"/>

  <!-- تطبيق تيفي -->
  <tizen:application id="hdb.loader" package="hdbiptv" required_version="4.0"/>
  <tizen:profile name="tv"/>
  <tizen:category name="http://tizen.org/category/tv/webapp"/>

  <!-- أذونات -->
  <access origin="*"/>
  <access origin="http://192.168.1.57" subdomains="true"/>
  <tizen:privilege name="http://tizen.org/privilege/internet"/>
  <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
  <tizen:privilege name="http://tizen.org/privilege/tv.info"/>

  <!-- إعدادات تشغيل: استلام مفاتيح الهاردوير + تعطيل قائمة اليمين -->
  <tizen:setting screen-orientation="landscape"
                 context-menu="disable"
                 background-support="disable"
                 hwkey-event="enable"/>

  <!-- CSP واسعة لتسمح بالتحميل الخارجي -->
  <tizen:content-security-policy>
    default-src * 'self' 'unsafe-inline' 'unsafe-eval' data: blob:;
    connect-src * ws: wss:;
    img-src * data: blob:;
    media-src * data: blob:;
    style-src * 'unsafe-inline' *;
    script-src * 'unsafe-inline' 'unsafe-eval' *;
  </tizen:content-security-policy>

  <!-- ميتاداتا تفيد بعض موديلات سامسونج للسماح بالشبكة -->
  <tizen:metadata key="http://samsung.com/tv/metadata/use.network" value="true"/>
</widget>